
*{font: inherit;margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
    }
input, button{
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    color: rgb(33, 33, 33);
    letter-spacing: -0.5px;
    outline: 0px;
    border: 0px;
}
a{text-decoration: none; color: black;}
    
/*삼각도형만들기*/
.tri{
    width: 0px;height: 0px;
    border-top:5px solid black;
    border-bottom:5px solid none;
    border-right: 5px solid transparent;
    border-left: 5px solid  transparent;
    }

/*공통 부분*/
.jbFixed {
    position: fixed;
    top: 0px;
}
header{ text-decoration: none; color: black; margin: 0; padding: 0; height: 190px;  }
.header_fix{border:1px solid rgb(238, 238, 238); position: fixed; width: 100%; background-color: white; height: 150px;
    z-index: 99;}
/* 해더 윗부분 */
#headertop {width: 1030px; margin: 0 auto; height: 38px;}
.headertop {font-size: 12px;  list-style: none;  float: left; ; height: 40px; width: 300px;}
.headertop li a {text-decoration: none; color: black;}

.headertop .top_left {padding-right: 30px; padding-left: 15px;}
.headertop .top_left img{width: 26px; height: 26px; padding-top: 5px;} 
.headertop .top_left2 img{width: 18px; height: 18px; padding-bottom: 5px;} 
.headertop .top_left a span {position: relative; top:-8px;}
.headertop .top_left2 a span {position: relative; top:-8px; padding-left: 2px;}
.headertop li {display: inline-block;}

.headertop2 {font-size: 12px;  list-style: none;  margin-top: 0;
    float: right;height: 40px; width: 400px; text-align: right; padding-right: 13px;}
.headertop2 li {display: inline-block; margin-left: 25px; margin-top: 10px;}
.headertop2 .top_right .tri { position: relative; top:11px; left: 3px;}
.headertop2 .top_right a {text-decoration: none; color: black;}

.line {width: 100%; border-top: 1px solid rgb(238, 238, 238); margin-top: 0;}



/*해더 중앙부분*/
header #header_center {width: 1030px; clear: both; margin:0 auto; padding: 0; clear: both; 
}
header #header_center .header_center .center_1{margin-top: 40px;}
header #header_center .header_center .center_1 a img {width: 140px; height:36px;}
header #header_center .header_center .center_text{
margin-left: 110px; position: relative; bottom:43px; left: 120px; 
}
header #header_center .header_center {float: left;  width: 61%;}

header #header_center .header_center2 {float: right; margin-top:44px;
    width: 30%; text-align: right;}
header #header_center .header_center2 a {text-decoration: none; color: black; font-size: 14px;}
header #header_center .header_center2 li::after{content: "|"; padding: 0 10px; font-size: 10px; color: #a2a3a3; position: relative; top:-2px;}
header #header_center .header_center2 li:last-child::after{content:""; display: none;}
.headerheader_centerbot {list-style: none;}
.header_center li {display: inline-block;}
.header_center2 li {display: inline-block; }

.header_center2 img {width: 20px; height: 22px;}
.header_center #headerserch {width: 450px; background: url(../img/번개장터이미지/돋보기.png) no-repeat;
height: 35px; background-position: 97%; border:2px solid red;
}


/*해더아래부분*/
header .header_bottom{clear: both; width: 1030px; margin: 0 auto;
    position: relative; bottom: 10px; }
header .header_bottom a {text-decoration: none; color: black; font-weight: bold;}
header .header_bottom img {width: 20px;}



/* 추가한 부분 시작*/
#category_img {float:left; height: 47px;}
.main_category {
    top: calc(100% + 20px);
    left: 0px;
    border-left: 1px solid rgb(238, 238, 238);
    width: 240px;
    z-index: 10;
    position: absolute;
    
}
.category {
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    display: none;
}
.category:nth-child(2) {
    width: 240px;
    top: 0px;
    left: 239px;
    position: absolute;
}
.category:nth-child(3) {
    top: 0px;
    left: 479px;
    position: absolute;
}
.big_category_top {
    height: 40px;
    display: flex;
    padding: 0px 30px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid rgb(238, 238, 238);
    font-weight: 700;
    border-right: 0px;
}
.category_list {
    height: calc(100% - 40px);
    border-right: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
    padding: 20px 0px 25px;
    overflow-y: auto;
}
.big_selected {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 30px;
    height: 30px;
    background: rgb(246, 68, 72);
    color: rgb(255, 255, 255);
}
.big_non_selected {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 30px;
    height: 30px;
}
.middle_category_top {
    height: 40px;
    display: flex;
    padding: 0px 30px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid rgb(238, 238, 238);
    border-right: 0px;
}
.ms_list {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 30px;
    height: 30px;
    color: rgb(102, 102, 102);
}
.ms_selected {
    display: inline-block;
    height: 18px;
    box-sizing: border-box;
    padding-top: 2px;
    border-bottom: 1px solid rgb(246, 68, 72);
    color: rgb(246, 68, 72);
}
.ms_non_selected{
    display: inline-block;
    height: 18px;
    box-sizing: border-box;
    padding-top: 2px;
}
.small_category_top {
    height: 40px;
    display: flex;
    padding: 0px 30px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-right: 1px solid rgb(238, 238, 238);
    border-bottom: 1px solid rgb(238, 238, 238);
}
/* 추가한 부분 끝*/



/*푸터*/

/*푸터탑*/
.footer_top{width: 100%;}
.footer_top .footer_top1 {border: 1px solid rgb(238, 238, 238); text-align: center; font-size: 13px; height: 40px;
padding-top: 25px;}
.footer_top .footer_top1 li {list-style: none; display: inline-block;}
.footer_top .footer_top1 li::after{content: "|"; padding: 0 10px; font-size: 10px; color: #a2a3a3;
position: relative; top:-2px;}
.footer_top .footer_top1 li:last-child::after{content:""; display: none;}

/*푸터중앙*/
.footer_center {width: 1030px; margin:0 auto; padding: 0; margin-top:35px}
.footer_center .footer_logo img{width: 100px; height: 25px;}
.footer_center .footer_logo2 img{width: 15px; height: 17px; }
.footer_center .footer_logo2{ margin-left: 10px; position: relative; top:-4px}
.footer_center .footer_center2 {padding-top: 0; margin-top: 0; font-size: 13px; font-weight: 600;}

.footer_center .footer_center3 {text-align: right; position: relative; top:-30px}
.footer_center .footer_center3 img {width:25px; height: 25px; padding-top: 0; margin-top: 0; margin-bottom: 0; padding-bottom: 0; text-align: right;}


.footer_bottom{
    width: 1030px; margin:0 auto; font-size: 12px; padding: 0; margin-top: 0; position: relative; top:-20px; left: -5px; color: gray; margin-top:40px
}
.footer_bottom p {margin:5px}
.footer_bottom .footer_bottom1 {padding-left: 103px;}
.footer_bottom .footer_bottom2 {font-weight: 1000;}
.footer_bottom .footer_bottom3 a {color: gray;}

/*사이드바*/
.side_barbox{    position: absolute;
    top: 102px;
    right: calc(50% - 617px);
    z-index: 20;}
.side_bar { top:140px; right: 137px; width: 90px; z-index: 100; overflow: auto;}
.side_bar .bar_top {text-align: center; border: 1px solid gray; font-size: 12px; margin-bottom: 0; height: 45px; padding-top: 10px; background-color: white;}
.side_bar .bar_top img {width: 10px; height: 12px;}
.side_bar .bar_top p {margin-bottom: 5px;}

.side_bar .bar_center{text-align: center; border:1px solid rgb(219, 219, 219); font-size: 12px; margin: 10px 0; height: 170px;}
.side_bar .bar_center .bar_center1{padding-top: 10px;}
.side_bar .bar_center .bar_center2{}
.side_bar .bar_center .bar_center3 img {width: 30px; height: 20px; padding-top: 13px;}
.side_bar .bar_center .bar_center4 {color:gray; margin-bottom: 30px;}
.side_bar .bar_bottom {text-align: center; border:1px solid rgb(219, 219, 219); font-size: 14px; height: 30px;padding-top: 10px;}
.side_bar .bar_bottom a {text-decoration: none; color:black; font-weight: bold;}
/* @media screen and (max-width:1140px){
    .side_bar{display: none;}
} */


/*공통 끝*/


/*메인 컨테이너*/
.container {width: 1030px; margin: 0 auto; clear: both;}
.container .container_slide{width: 1030px; box-sizing: border-box;}
.container .container_slide img {width: 100%;}
.container .container_text {margin-top:50px; margin-bottom: 20px;}
.container .container_text h2{font-weight: 700px; font-size: 24px; font-weight: 600;}
.item_box {width: 190px; margin-right: 11px; margin-bottom: 11px; display: inline-block; box-sizing: border-box; }
.item_box .item {border: 1px solid rgb(238, 238, 238); display: block; box-sizing: border-box; text-decoration: none;}
.item_box .item .item_img {position: relative; width: 100%; height: 194px;border: 1px solid rgb(219, 219, 219); height: 194px;}
.item_box .item .item_img img {width: 100%; height: 100%;}
.item_box .item .item_text {padding: 15px 10px; height: 80px;  height: 80px;}
.item_box .item .item_text .text_top{
    position: relative;
    font-size: 14px;
    padding-bottom: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color:black;
    
}
.item_box .item .item_text .text_bottom{
    margin-top:10px
}
.item_box .item .item_text .text_bottom1{
    font-size: 16px;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color:black;
    display: inline-block;
}
.item_box .item .item_text .text_bottom1::after{
    content: "원";
    font-size: 13px;
}
.item_box .item .item_text .text_bottom2{
font-size: 12px; color: rgb(136, 136, 136); display: inline-block; text-align: right; margin-left: 50px;} 
/*메인 컨테이너 끝*/

/*내상점 시작*/ 
.myshop_container{width: 1030px; margin: 0 auto; clear: both; margin-top:30px}
.myshop_container button:focus {outline:none;}

.myshop_top {width: 1030px; height: 310px; border:1px solid rgb(136, 136, 136);}
.myshop_top .myshop_profile {width: 310px; height: 310px; background: url(../img/번개장터이미지/내상점프로필.PNG) no-repeat;  background-size: cover; text-align: center; float: left;}
.myshop_top .myshop_profile .myshop_img img{width: 100px; height: 100px; border-radius: 50%; margin-top: 40px;}
.myshop_top .myshop_profile .myshop_name{color: white; margin-top: 10px;}
.myshop_top .myshop_profile .myshop_star {margin-top:5px;}
.myshop_top .myshop_profile .myshop_bottom{width: 100px; height: 40px; border:1px solid white;
margin: 0 auto; margin-top: 15px;}
.myshop_top .myshop_profile .myshop_bottom a {font-size: 13px; color: white; 
position: relative; top: 7px; text-decoration: none;}


.myshop_top .myshop_text{width: 700px; height: 310px;  float: right; 
    }
.myshop_top .myshop_text .myshop_text_top {width: 650px; height: 75px; border:1px solid red; display: inline-block;}
.myshop_top .myshop_text .myshop_text_top .myshop_text_top1{
width: 640px; font-size: 18px; font-weight: bold; display: inline-block; 
margin-top:20px;  border:1px solid blue; height: 30px;
}

.myshop_text_top1_click{width: 640px; font-size: 14px; font-weight: bold; display: inline-block; 
    margin-top:20px;  height: 30px;  display: none;
    
}

.myshop_text_top1_click input {margin: 0px 15px;
    font-size: 14px;
    -webkit-box-flex: 1;
    flex-grow: 1; 
    border: 1px solid rgb(238, 238, 238); 
    margin:0px;
    height: 29px;
    width: 200px;
}
.myshop_text_top1_click input:focus {outline:none;}
.myshop_text_top1_click button:focus {outline:none;}
.myshop_text_top1_click button{
    width: 52px;
    font-size: 14px;
    height: 30px;
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid rgb(238, 238, 238); 
    color: rgb(136, 136, 136);
    background: rgb(245, 245, 245);
    border-left: 1px solid rgb(238, 238, 238);
    position: relative; right: 5px;
    
}
#myshop_name_change:focus{outline:none;}
.myshop_top .myshop_text .myshop_text_top .myshop_text_top1 button {
    height: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 5px;
    color: rgb(136, 136, 136);
    border: 1px solid rgb(238, 238, 238);
    font-size: 11px;
    display: inline-block;
    position: relative;
    bottom: 4px;
    top: 0.1px;
    background: white;
}

.myshop_top .myshop_text .myshop_text_top .myshop_text_top2{display: inline-block; font-size: 11px; font-weight: 600; text-align: right;   border:1px solid red; width: 100px;
position: relative; left: 320px; bottom: 3px; }
.myshop_top .myshop_text .myshop_text_top .myshop_text_top2 img {padding-right: 5px;}

.myshop_top .myshop_text .myshop_text_top .myshop_text_top3{display: inline-block; font-size: 11px; font-weight: 600; text-align: right;   border:1px solid red; width: 100px;
    position: relative; left: 274px; bottom: 4px;}
.myshop_top .myshop_text .myshop_text_top .myshop_text_top3 img {padding-right: 5px;}

.myshop_top .myshop_text .myshop_text_center {width: 650px; height: 45px;
list-style: none; border:1px solid red; padding-top: 10px;}
.myshop_top .myshop_text .myshop_text_center li img { margin-right: 5px;}
.myshop_top .myshop_text .myshop_text_center li {display: inline-block; font-size: 13px;}
.myshop_top .myshop_text .myshop_text_center .myshop_text_center2{padding: 0 20px;}
.myshop_top .myshop_text .myshop_text_center .myshop_text_center4{padding-left: 20px;}



.myshop_top .myshop_text .myshop_text_bottom {width: 650px; height: 140px; 
border:1px solid red; margin-top:15px;}
.myshop_top .myshop_text .myshop_text_bottom button{
height: 20px;
display: flex;
-webkit-box-align: center;
align-items: center;
padding: 0px 5px;
color: rgb(136, 136, 136);
border: 1px solid rgb(238, 238, 238);
font-size: 11px;
display: inline-block;
margin-top: 35px;
position: relative; top:85px;
background: white;
}
.myshop_text_bottom_click{width: 650px; height: 140px; 
    border:1px solid rgb(238, 238, 238); margin:0px; padding: 0px; box-sizing: border-box; margin-top:15px; display: none; }
.myshop_text_bottom_click textarea{width: 80%; height: 138px; 
    -webkit-box-flex: 1;
    flex-grow: 1;
    resize: none;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    text-align: left;
    color: rgb(33, 33, 33);
    letter-spacing: -0.5px;
    outline: 0px;
}
.myshop_text_bottom_click button{width: 19%; height: 140px;border:1px rgb(238, 238, 238); 
position: relative; bottom:63px; border-left: 1px solid rgb(228, 226, 226);}







.menubar {
    height: 80px; width: 1030px; clear: both;

}
.menubar .bar {
    width: 171.5px ;
    float: left;
    text-align: center;
    margin-top: 30px;
    border: 1px solid rgb(223, 215, 215); border-bottom: solid 1px black;
    box-sizing: border-box;
    height: 50px;
    line-height: 50px;
    background-color: #FAFAFA;
}

.menubar .bar a{text-decoration: none; color: black; font-weight: bold;}

.menubar2{
    height: 29px;
    padding-top: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(238, 238, 238);
    width: 1010px;

}

.mn1{
    float: left;
    height: 28px;
    font-size: 17px;
    
}
.mn1 span{color: red;}
.mn2{
    float: right;
    padding-left: 10px;
    line-height: 28px;
}
.mn2 select {width: 140px;border:1px solid rgb(223, 215, 215)}


.menubar3{
    height: 17px;
    margin-top: 25px;
    margin-bottom: 20px;
}
.left{
    width: 80px;
    float: left;
}

.right {
    float: right;
}
.right a {text-decoration: none;}
.right a span { color:black; font-size: 12px; }

.cnt {
    float: right;
}
.left_cnt {
    float: left;
}

.new{
    border-right: 1px solid rgb(223, 215, 215);
    padding-right: 1px;
    padding-left: 3px;
}

.new:last-child {
    border: none;
}


.goods{
    width: 100%;
}
.goods_box{
    width: 197.2px;
    height: 316px;  
    float: left; 
    margin-right: 11px;
    margin-bottom: 11px;
}

.goods_box:nth-child(5n){
    margin-right: 0px;  /*5의 배수마다 적용*/
}

.goods_box img {
    height: 194px;
    width: 194px;


}

/*내상점 상점문의*/
.comments_box {width: 1030px; height: auto;  margin-top: 30px;}
.comments_list {width: 1030px; height: 100px; margin-bottom: 20px;} 
.comments_list a {width: 50px; height: 80px; }
.comments_list a img {border-radius: 50px; width: 48px; height: 48px; padding-top: 20px;} 

.comments_text_top{display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    color: rgb(136, 136, 136);
    margin-bottom: 10px;
    -webkit-box-align: center;
    align-items: center;}

.comments_text_center{margin-bottom: 20px;
    line-height: 1.5;
    white-space: pre-wrap;}


.comments_text{float: right; width: 950px; height: 100px; border-bottom: 1px solid rgb(238, 238, 238);
clear: both;}
.comments_text_bottom{list-style: none;}
.comments_text_bottom li{display:inline-block ;
    color: rgb(136, 136, 136);
    font-size: 13px;
    -webkit-box-align: unset;
    align-items: unset;
    cursor: pointer;}
    
.comments_text_bottom li::after{content: "|"; padding: 0 10px; font-size: 10px; color: #a2a3a3; position: relative; top:-2px;}
.comments_text_bottom li:last-child::after{content:""; display: none; }

.comments_text_bottom li img{width: 17px; height: 14px;}

/*내상점 찜*/
.favorites_box{width: 1030px;}
.favorites_top{
    margin: 25px 0px 20px;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between; }
.favorites_top ul {display: inline-block;}
.favorites_top ul button{padding: 0px 10px;
    height: 28px;
    border: 1px solid rgb(238, 238, 238);
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 13px;
    background: rgb(255, 255, 255);
    color: rgb(136, 136, 136);
    margin-left: 5px;}
.favorites_top ul li{width: 24px;
    height: 24px;
    border: 1px solid rgb(238, 238, 238);
    cursor: pointer;
    transition: border 0.2s ease 0s, background-color 0.2s ease 0s;
    list-style: none; display: inline-block;}
/*--------------------------------------------------------------------*/
.favorites_list{width: 1030px; }
.favorites_list_item{width: 502px; height: 140px;display: inline-block;margin:0; padding: 0; 
    box-sizing: border-box; border:1px solid rgb(238, 238, 238);}
.favorites_list_item_img{width: 139px; height: 138px; margin: 0; padding: 0; box-sizing: border-box;  float: left;}
.favorites_list_item_img img{object-fit: cover; width: 139px;height: 138px;}
.favorites_list_item_text{width: 340px; height: 138px; float: right; }
.favorites_list_text_title{list-style: none; }
.favorites_list_text_title li {display: inline-block;}
.favorites_list_text_title_1 {width: 310px; height: 16px; margin: 18px 0px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; ;
    font-size:14px; }
.zzim_check {
    width: 16px; height: 16px;
    border:1px solid rgb(238, 238, 238);
    position: relative; bottom:10px
    }   
.zzim_check img {width: 16px; height: 16px;}

.favorites_list_text_price{width: 279px; height: 16px;font-size: 16px;
    font-weight: bold;
    display: flex;}
    
.favorites_list_text_price::after{content: "원"; font-size: 13px;}

.favorites_list_text_time{width: 279px; height: 40px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(136, 136, 136);
    font-size: 12px;}
.favorites_list_text_location {    height: 40px;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    
    
    border-top: 1px solid rgb(238, 238, 238);
    font-size: 12px;
    color: rgb(102, 102, 102);
    box-sizing: border-box;}
.favorites_list_text_location img {width: 15px; height: 17px; margin-right: 5px;
}

/*--------------------------------------------------------------------------------------*/
/*내상점 후기*/
.reviews_box{width: 1030px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    /* border:1px solid red; */
    
}

.reviews_item{
    padding: 20px;
    display: flex;
    border-bottom: 1px solid rgb(238, 238, 238);
    width: 970px; height: 170px; border-bottom: 1px solid rgb(238, 238, 238); 

}
.reviews_item_img{
    width: 60px;
    height: 165px;
    margin-right: 15px;
    display: block;
    color: rgb(33, 33, 33);
    text-decoration: none;
    cursor: pointer;
    
}

.reviews_item a img {width: 60px; height: 60px; border-radius: 50px;}

.reviews_text {width: 910px; height: 165px; }

.reviews_text_1 {width: 910px; height: 16px;  padding-top: 15px; 
padding-bottom: 5px;}

.reviews_text_1_1 {
    display: flex;
    -webkit-box-align: center;
    align-items: center; width: 100px; height: 16px; }

.reviews_text_1_2 {    height: 16px;
    border: 1px solid rgb(98, 177, 217);
    border-radius: 2px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 11px;
    color: rgb(98, 177, 217);
    padding: 0px 3px;
    margin-left: 10px;}

.reviews_star{width: 910px; height: 20px; margin:0 !important; padding: 0 ; box-sizing: border-box ;}
.reviews_star_box{width: 910px; height: 20px; margin:0; padding: 0; box-sizing: border-box;}
.reviews_star_box img {width: 15px !important; height: 14px !important; margin:0; padding: 0;}


.reviews_btn{
    padding: 0px 10px;
    height: 30px;
    border: 1px solid rgb(238, 238, 238);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 13px;
    background: rgb(255, 255, 255);
    color: rgb(102, 102, 102);
    margin-top:5px
}

.reviews_btn img {width: 6px !important; height: 10px !important; margin-left: 10px;}

.reviews_text_content {width: 910px; height: 21px;
    margin: 15px 0px;
    white-space: pre-wrap;
    line-height: 1.5;
}

.reviews_text_bottom{width: 910px; height: 14px;}
.reviews_text_bottom a {
    color: rgb(136, 136, 136);
    font-size: 13px;
    display: flex;
    -webkit-box-align: unset;
    align-items: unset;
    margin-right: 25px;
    position: relative;
}
.reviews_text_bottom a img {width: 14px; height: 14px; margin-right: 4px;}

/*내상점 팔로잉*/
.followings_box{width: 1030px; margin: 0; padding: 0; box-sizing: border-box;}
.followings_item{
    height: 260px;
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgb(238, 238, 238);}

.followings_profile{
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    
    
}
.followings_img img {width: 60px; height: 60px; border-radius: 50px; margin-bottom: 20px;
    cursor: pointer;} 
.followings_name{margin-bottom: 10px; font-weight: 600; cursor: pointer;  height: 14px; font-size: 13px;}

.followings_menu{
    display: flex;
    color: rgb(102, 102, 102);
    margin-bottom: 15px;
    font-size: 12px;
}
.followings_menu a::after{content: "|"; padding: 0 10px; font-size: 10px; color: #a2a3a3; position: relative; top:-2px;}
.followings_menu a:last-child::after{content:""; display: none;}
.AcOut_footer_menu a::after{content: "|"; padding: 0 10px; font-size: 10px; color: #a2a3a3; position: relative; top:-2px;}

.followings_btn button {
    width: 150px;
    height: 40px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 13px;
    border: 1px solid rgb(246, 68, 72);
    color: rgb(246, 68, 72);
    background: white;
}
.followings_btn button img {width: 20px; height: 14px; padding-right: 5px;}
.followings_item_img{display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 20px;}
.followings_item_img img {width: 190px; height: 190px; } 
/*내상점 팔로워*/
.followers_box{width: 1030px; padding: 0; margin:0; box-sizing: border-box; display: inline-block;}
.followers_item_box{width: 1030px; display: inline-block;}
.followers_item{width: 342; height: 388px; display: inline-block; margin:40px}

.followers_profile{
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    
    
}
.followers_img img {width: 120px; height: 120px; border-radius: 50px; margin-bottom: 20px;
    cursor: pointer;} 
.followers_name{margin-bottom: 5px; font-weight: 600; cursor: pointer;  height: 14px; font-size: 14px;}
.followers_star {margin-bottom: 10px;}
.followers_menu{
    display: flex;
    color: rgb(102, 102, 102);
    margin-bottom: 15px;
    font-size: 12px;
}
.followers_menu a::after{content: "|"; padding: 0 10px; font-size: 10px; color: #a2a3a3; position: relative; top:-2px;}
.followers_menu a:last-child::after{content:""; display: none;}

.followers_btn button {
    width: 150px;
    height: 40px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-size: 13px;
    border: 1px solid rgb(238, 238, 238);
    color: rgb(136, 136, 136);
    background: white;
}
.followers_btn button img {width: 20px; height: 14px; padding-right: 5px;}
.followers_item_img{display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 20px;}
.followers_item_img img {width: 190px; height: 190px; } 
/*계정설정*/
.Acwarp{background-color: rgb(243, 241, 241); }
.Acboxsize {width: 540px; height: 50px;}
.AcSetBox {width: 540px;height: 100vh;  margin:0 auto; background-color: white;}
.AcSetBox .Actop{position: fixed;
    top: 0px;
    width: 100%;
    max-width: 540px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    height: 50px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    
    
    }
.Actop button {
    display: flex;
    width: 2rem;
    height: 2rem;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    left: 10px;
    top: 9px;
    background-color: white;
}

.Acline {width: 540px; height: 50px;}

.AcSNS{    height: 4rem;
    width: 507px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 1rem;
    font-size: 15px;
    border-bottom: 1px solid rgb(234, 233, 241);
    -webkit-box-pack: justify;
    justify-content: space-between;}
.Aclogout{    height: 4rem;
    width: 507px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 1rem;
    font-size: 15px;
    border-bottom: 1px solid rgb(234, 233, 241);
    -webkit-box-pack: justify;
    justify-content: space-between; 

}
.Acout{    height: 4rem;
    width: 507px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 1rem;
    font-size: 15px;
    border-bottom: 1px solid rgb(234, 233, 241);
    -webkit-box-pack: justify;
    justify-content: space-between;}

/*계정설정 탈퇴페이지*/
.AcOutwarp{background-color : rgb(243, 241, 241);}
.AcOuttop{width: 940px; height: 520px; border:1px solid rgb(243, 241, 241); margin:0 auto;}
.AcOuttop_intext{width: 695px; height: 323px;  line-height: 160%; font-size: 20px; margin:0 auto; margin-top: 140px;}
.AcOuttop_intext p {font-weight: bold;}
.AcOuttop_intext button{display: block;
    width: 100%;
    height: 50px;
    border: 1px solid #d22c1c;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #ff3021;
    color: #fff;
    font-size: 14px;
    border: 1px solid white; margin-top: 15px}
.AcOutbottom{width: 940px; height: 307px;  margin:0 auto;}
.AcOut_footer {width: 750px; border-top:1px solid #e4e2e2; margin: 0 auto; text-align: center;
    font-size: 10px; margin-top:50px; padding-top: 10px;}
.AcOut_footer_menu{margin:0; padding: 0; box-sizing: border-box;  }
.AcOut_footer_menu a::after{content: "|"; padding: 0 10px; font-size: 10px; color: #a2a3a3; position: relative; top:-2px;}
.AcOut_footer_menu a:last-child::after{content:""; display: none;}
.AcOut_footer p {font-size: 12px; color: #757575;}
.AcOut_footer p b {font-weight: bold;}

/*SNS연동 클릭 시 화면*/
.AcSnswarp{background-color : rgb(243, 241, 241);  }
.AcSnsBox{width: 540px;height: 100vh;  margin:0 auto; background-color: white; border:1px solid rgb(243, 241, 241); }
.AcSnsBtn{    
    margin-left: 490px;
    margin-top: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiMxRTFEMjkiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTExLjQxNCAxMGw2LjI5MyA2LjI5MmMuMTg4LjE4Ny4yOTMuNDQyLjI5My43MDcgMCAuMjY1LS4xMDUuNTItLjI5My43MDctLjE4Ny4xODgtLjQ0Mi4yOTQtLjcwNy4yOTQtLjI2NiAwLS41Mi0uMTA2LS43MDctLjI5NEwxMCAxMS40MTNsLTYuMjkzIDYuMjkzYy0uMzkuMzktMS4wMjQuMzktMS40MTQgMC0uMzktLjM5LS4zOS0xLjAyMyAwLTEuNDE0TDguNTg2IDEwIDIuMjkzIDMuNzA3Yy0uMjUzLS4yNTMtLjM1MS0uNjItLjI1OS0uOTY2LjA5My0uMzQ1LjM2Mi0uNjE0LjcwNy0uNzA3LjM0NS0uMDkyLjcxMy4wMDYuOTY2LjI1OUwxMCA4LjU4NWw2LjI5My02LjI5MmMuMzktLjM5IDEuMDIzLS4zOSAxLjQxNCAwIC4zOS4zOS4zOSAxLjAyMyAwIDEuNDE0bC02LjI5MyA2LjI5MnoiLz4KPC9zdmc+Cg==);
    width: 20px;    
    height: 20px;}
.AcSnsTextBox{margin:0 auto;  width: 450px; height: 620px; text-align: center;
margin-top: 70px;}
.AcSnsText1{
    width: 240px;
    height: 67px;
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: center;
    white-space: pre-wrap; margin:0 auto;
    margin-top:20px; }
.AcSnsTextBox p{    font-size: 1rem;
    line-height: 1.4;
    white-space: pre-wrap;
    color: rgb(155, 153, 169);
    margin-bottom: 3rem;
    text-align: center;
    width: 450px; 
    margin-top: 20px    
}
.iJqwUM {
    width: 16.5rem;
    height: 3.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 28px;
    position: relative;
    background: rgb(255, 226, 4);
    color: rgb(60, 30, 30);}
    .jiFDsF {
width: 16.5rem;
height: 3.5rem;
margin-bottom: 0.5rem;
font-size: 1rem;
display: flex;
-webkit-box-align: center;
align-items: center;
-webkit-box-pack: center;
justify-content: center;
border-radius: 28px;
position: relative;
background: rgb(0, 195, 0);
color: rgb(255, 255, 255);
text-align: center;}
.fOHdHh {
width: 16.5rem;
height: 3.5rem;
margin-bottom: 0.5rem;
font-size: 1rem;
display: flex;
-webkit-box-align: center;
align-items: center;
-webkit-box-pack: center;
justify-content: center;
border-radius: 28px;
position: relative;
background: rgb(59, 89, 152);
color: rgb(255, 255, 255);
}
.jiFDsF img {width:50px; height: 50px; position: absolute; left: 10px; border-radius: 50px;}
.iJqwUM img {width:40px; height: 40px; position: absolute; left: 10px; border-radius: 50px;}
.fOHdHh img {width:40px; height: 40px; position: absolute; left: 10px; border-radius: 50px;}
.AcSnsmenu {margin: 0 auto; width: 264px;}
.AcSnswarp {display: none;}
/*계정설정 로그아웃페이지*/
.Aclogoutpage{width: 300px; height: 224px; border: 1px solid black; background-color: white;
position: absolute; right: 40%; top: 35%; display: none; z-index: 1500;}
.Aclogoutpage_top{width: 248px; height: 25px;  font-size: 18px;
    margin:0 auto;
    margin-bottom: 1rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.4; margin-top:25px}
.Aclogoutpage_center{
    white-space: pre-wrap;
    word-break: keep-all;
    text-align: center;
    font-size: 15px;
    margin-bottom: 1.5rem;
    line-height: 1.4; }
.Aclogoutpage_btn1 {
    background-color: rgb(244, 244, 250);
    color: rgb(114, 112, 127);
}
.Aclogoutpage_btn2 {
    color: rgb(255, 255, 255);
    background: rgb(255, 80, 88);
    font-weight: bold;
    
}

.Aclogoutpage_bottom{width: 300px; height: 50px;  text-align: center;}
.Aclogoutpage_bottom button{width: 120px; height: 48px;margin-right: 1px; position: relative; bottom: 10px; }

.warp2{   width: 100%;
    height: 1000px;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    /* -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center; */}
